<div class="section lazy my-4 py-7 min-vh-0" data-bg="./src/img/secction/s3.jpg" style="background-position: center center; background-repeat: no-repeat; background-size: cover;">

	<!-- SECCION  -->

	



	<div class="container py-5">
		<div class="row">
	
			<!-- inicio de tarjetas -->
			<div class="col-md-6 col-lg-4">
				<div class="promo promo-color1  promo-mini text-center p-5">
					<div class="row align-items-center">
						<div class="col-12">
							<h3>
								<span>¡Inscripciones abiertas!</span>, ¡contáctanos!
								resolveremos todas tus dudas.
								</h3>
						</div>
						<div class="col-12 mt-4">
							<a social-link="phone" href="#" class="button button-black button-circle button-rounded m-0"><i class="icon-phone"></i> Presiona aquí</a>
						</div>
					</div>
				</div>
			</div>
	
	
			<div class="col-md-6 col-lg-4">
				<div class="promo promo-color2  promo-mini text-center p-5">
					<div class="row align-items-center">
						<div class="col-12">
							<h3>Conoce nuestros <span>¡increibles talleres!</span> en horario extendido, ballet, hip hop, música …
							</h3>
						</div>
						<div class="col-12 mt-4">
						
						{{!-- 
							elAnchor = element.attr('data-scrollto'),
			elSpeed = element.attr('data-speed'),
			elOffset = element.attr('data-offset'), --}}
							<a 
							data-offset="0"
							data-scrollto="#talleres" data-speed="745" 
							 class="button button-black button-circle button-rounded m-0"> <i class="icon-link"></i>Talleres</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="col-md-12 col-lg-4">
				<div class="promo promo-color3 promo-mini text-center p-5">
					<div class="row align-items-center">
						<div class="col-12">
							<h3><span>Sistema para padres</span>, ahora es más fácil ver las tareas de tus pequeños.</h3>
						</div>
						<div class="col-12 mt-4">
							<a href="./_APP" target="_blank" class="button button-primary button-circle button-rounded m-0"><i class="icon-book-open"></i>Gandhi App</a>
						</div>
					</div>
				</div>
			</div>
			<!-- fin de tarjeta -->
	
		</div>
	</div>
	<!-- fin row de tarjetas -->


	<!-- SECCION  -->

	
		<div class="shape-divider" data-shape="cloud-3" data-height="150"></div>
		<div class="shape-divider" data-shape="cloud-3" data-position="bottom" data-height="150"></div>

</div>