<div class="section lazy my-4 py-5 min-vh-0" data-bg="./src/img/secction/s2.webp"
	style="background-position: center center; background-repeat: no-repeat; background-size: cover;background-color: var(--color7) !important;">

	<!-- SECCION  -->





	<div class="container py-5">
		<div class="row">
			
			
						<!-- Counter
													============================================= -->
						<div class="dark offset-lg-2 col-lg-4 col-md-6 mt-4 center" style="
			    /* background: #00000029; */
			    border-radius: 12px;
			    text-shadow: 1px -2px 4px black, 1px -2px 4px black;
			    ">
							<div class="counter counter-large"><span data-from="1" data-to="30" data-refresh-interval="100" data-speed="2000">30</span>+</div>
							<h3 class="my-0" style="
">Años de experiencia</h3>
							<p class="mb-0 pb-5">
			
								Estamos comprometidos con la formación académica de tus hijos.
								<br>
							</p>
						</div>
			
						<!-- Counter
													============================================= -->
						<div class="dark col-lg-4 col-md-6 mt-4 center" style="
			    /* background: #00000029; */
			    /* border-radius: 12px; */
			    border-radius: 12px;
			    text-shadow: 1px -2px 4px black, 1px -2px 4px black;
			    ">
							<div class="counter counter-large"><span data-from="10" data-to="600" data-refresh-interval="50" data-speed="2000" data-comma="true">600</span>+</div>
							<h3 class="my-0">Alumnos graduados </h3>
							<p class="dark mb-0 pb-5">
								Al finalizar el 3° es entregado su certificado expedido por la SEP para que puedan inscribirse a la
								primaria.
			
			
							</p>
						</div>
			
						<!-- Counter
													============================================= -->
			
			
					</div>

	</div>
	<!-- fin row de tarjetas -->


	<!-- SECCION  -->


	<div class="shape-divider" data-shape="cloud-3" data-height="150"></div>
	<div class="shape-divider" data-shape="cloud-3" data-position="bottom" data-height="150"></div>

</div>