

<div class="section mb-0 bg-transparent">
					<div class="container">

						<div class="row justify-content-between mt-5">

							<!-- Heading Title
							============================================= -->
							<div class="col-md-6">
								<small class="text-muted text-uppercase font-weight-light ls3 d-block">INSCRIPCIONES ABIERTAS</small>
								<h2 class="font-weight-bold ls0 mb-3" style="font-size: 64px; line-height: 1.2">SOLICITA INFORMACIÓN.</h2>
								<p class="text-muted" style="font-size: 16px;">Entra en contacto con nosotros y conoce más sobre nuestros planes de estudios.
</p>
								<div class="d-flex align-items-center mt-4">
									<a social-link="whatsapp" href="haha" class="si-colored si-evernote button button-change button-large button-rounded nott font-weight-light m-0 overflow-hidden">
													<span><i class="icon-whatsapp "></i>Escríbenos</span>
												</a>
									<a social-link="facebook"  href="https://facebook.com/semicolonweb" target="_blank"
										class="my-0 mr-0 ml-3 social-icon inline-block si-small si-borderless si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									
									
								</div>
							</div>

							<!-- Infirmacion general
							============================================= -->
							<div class="col-md-5 mt-5 mt-md-0">
								{{!-- <h5 class="pl-4 font-weight-normal">What Clients Says:</h5> --}}

                                <div id="faqs" class="faqs">

								<div id="faqs-list" class="fancy-title title-bottom-border">
									<h3>Más información</h3>
								</div>

								<ul class="iconlist faqlist">
									<li><i class="icon-caret-right"></i><strong><a  href="contacto.html#faq-1">¿Cuáles son sus horarios?</a></strong></li>
									<li><i class="icon-caret-right"></i><strong><a  href="contacto.html#faq-2">¿Qué necesito para inscribir a mi hijo?</a></strong></li>
									<li><i class="icon-caret-right"></i><strong><a  href="contacto.html#faq-3">¿Cuál es la validez de estudios?</a></strong></li>
									<li><i class="icon-caret-right"></i><strong><a  href="contacto.html#faq-4">¿Por qué elegirnos?</a></strong></li>
									
								</ul>
</div>


                            </div>

						</div>
					</div>
				</div>