<footer id="footer" class="dark border-0 clearfix">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights" >
				<div class="container clearfix">

					<div class="w-100 text-center topmargin-sm">
						<p class="mb-3">&copy; kinderganghi.com  2020 Todos los derechos reservados.</p>
						<a social-link="facebook" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a social-link="maps" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-google">
							<i class="icon-map-marked-alt"></i>
							<i class="icon-map-marked-alt"></i>
						</a>
						<a social-link="phone" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-phone">
							<i class="icon-phone3"></i>
							<i class="icon-phone3"></i>
						</a>
					
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer>