


<div  id="galeria" class="section bg-transparent">
	<div class="container">


						<div class="col-lg-6 offset-lg-3 mb-5 text-center">
							<small class="text-muted text-uppercase font-weight-light ls3 d-block">Conoce nuestras instalaciones</small>
							<h2 class="font-weight-bold ls0 mb-3" style="font-size: 46px;">Galería</h2>
								<p class="text-muted" style="font-size: 16px;">
									Excelentes áreas adecuadas para la educacion, comodidad, seguridad y diversión para tus hijos.



								</p>
						</div>



		<div gallery-img="9" class="masonry-thumbs grid-container grid-4" data-big="6" data-lightbox="gallery">
			



		</div>
	</div>
</div>