
<div id="conocenos" class="section py-0 my-0">

		<div class="content-wrap py-0">
			<div class="row clearfix align-items-stretch">

					<div class="col-lg-6 center " style="background: url('./src/img/secction/main-bg.png') center center no-repeat; background-size: cover;">
                        <img class="responsive d-block d-lg-none" src="./src/img/secction/main-bg.png" alt="">
					</div>

					<div class="col-lg-6 center col-padding" style="background-color: #F5F5F5;">
								
							<div class="heading-block border-bottom-0">
							<span class="before-heading color">¡Siempre tu mejor opción!</span>
							<h3>Bienvenido a Jardín de niños Gandhi</h3>
							</div>

							<div class="center bottommargin">
							<a class="d-block position-relative" href="https://www.facebook.com/jngandhitp/videos/195658565185575/" data-lightbox="iframe">
							<img src="./src/img/secction/video.png" alt="Video">
							<div class="bg-overlay">
							<div class="bg-overlay-content dark">
							<span class="overlay-trigger-icon size-lg op-ts op-08 bg-dark text-light" data-hover-animate="op-1" data-hover-animate-out="op-07" data-hover-parent=".row"><i class="icon-line-play"></i></span>
							</div>
							</div>
							</a>
							</div>
							<p class="lead mb-0">
							<strong>¡Inscribe a tus niños al Jardín de Niños Gandhi!</strong>
							<br>
							Contamos con áreas adecuadas y juegos infantiles desinfectados, personal comprometido con la educación de tus hijos. 
							 El Jardín de Niños de mayor calidad y prestigio. 
							 <br>
							 Educación garantizada. <br>
							 </p>
					</div>

			</div>
		</div>
</div>
