
<div id="talleres" class="section bg-transparent">

					<div class="container">





						<div class="col-lg-6 offset-lg-3 mb-5 text-center">
							<small class="text-muted text-uppercase font-weight-light ls3 d-block">Después de clases.</small>
							<h2 class="font-weight-bold ls0 mb-3" style="font-size: 46px;">Talleres</h2>
								<p class="text-muted" style="font-size: 16px;">
									Contamos con diferentes talleres en nuestro horario extendido de 1:30PM a 2:30PM
									El mejor ambiente para tus hijos.
									ballet, hip hop, música, teatro y pintura.
								</p>
						</div>

						<div class="row grid-container gutter-30" style="overflow: visible;">

							<!-- Photographs
							============================================= -->
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="./src/img/talleres/teatro.png" data-lightbox="image">
									<img src="./src/img/talleres/teatro.png" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">Taller</small>
										<h3 class="img-hover-title"><a href="#">Teatro</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Photographs
							============================================= -->
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="./src/img/talleres/pintura.png" data-lightbox="image"><img
											src="./src/img/talleres/pintura.png" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">Taller</small>
										<h3 class="img-hover-title"><a href="#">Pintura</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Photographs
							============================================= -->
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="./src/img/talleres/musica.png" data-lightbox="image"><img
											src="./src/img/talleres/musica.png" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">Taller</small>
										<h3 class="img-hover-title"><a href="#">Música</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Photographs
							============================================= -->
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="./src/img/talleres/hiphop.png" data-lightbox="image"><img
											src="./src/img/talleres/hiphop.png" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">Taller</small>
										<h3 class="img-hover-title"><a href="#">HipHop</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Photographs
							============================================= -->
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="./src/img/talleres/ballet.png" data-lightbox="image"><img
											src="./src/img/talleres/ballet.png" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">Taller</small>
										<h3 class="img-hover-title"><a href="#">Ballet</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							

					</div>
				</div>
</div>