<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Kinder Gandhi" />

	<meta name="theme-color" content="#B12A34">
	<link rel="icon" href="icons/icon-32.png" type="image/png" />
	<link rel="manifest" href="app.webmanifest">

	{{>template/meta}}

	<!-- Document Title
	============================================= -->
	<title>Kinder Gandhi</title>

</head>


<!-- Page Loader, stretched (body)
============================================= -->

<body class="stretched"
	data-loader-html="<div><img src='demos/photographer/images/icons/loader.svg' alt='Loader'></div>">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header	============================================= -->
		{{> template/secction/header}}
		<!-- #header end -->


		<!-- Page Title
		============================================= -->

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-light page-title-center"
			data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

			<div class="p-2 container clearfix">
				<h1>Conócenos</h1>
				{{!-- <span>CONOCE NUESTRAS INSTALACIONES. <br>

					Excelentes áreas adecuadas para la educacion, comodidad, seguridad y diversión para tus
					hijos.
					</span> --}}
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="./">www.kindergandhi.com</a></li>
				</ol>
			</div>

		</section><!-- #page-title end -->
		<!-- #page-title end -->



		<!-- Content
		============================================= -->
		<section id="content">





			<div class="section py-0 my-0">

				<div class="content-wrap py-0">
					<div class="row clearfix align-items-stretch">

						<div class="col-lg-6 center "
							style="background: url('./src/img/secction/main-bg.webp') center center no-repeat; background-size: cover;">
							<img class="responsive d-block d-lg-none" src="./src/img/secction/main-bg.webp" alt="">
						</div>

						<div class="col-lg-6 center col-padding" style="background-color: #F5F5F5;">

							<div class="heading-block border-bottom-0">
								<span class="before-heading color">¡Siempre tu mejor opción!</span>
								<h3>Bienvenido a Jardín de niños Gandhi</h3>
							</div>

							<div class="center bottommargin">
								<a class="d-block position-relative"
									href="https://www.facebook.com/jngandhitp/videos/195658565185575/"
									data-lightbox="iframe">
									<img src="./src/img/secction/video.webp" alt="Video">
									<div class="bg-overlay">
										<div class="bg-overlay-content dark">
											<span class="overlay-trigger-icon size-lg op-ts op-08 bg-dark text-light"
												data-hover-animate="op-1" data-hover-animate-out="op-07"
												data-hover-parent=".row"><i class="icon-line-play"></i></span>
										</div>
									</div>
								</a>
							</div>
							<p class="lead mb-0">
								<strong>

									<span>Clave de registro ante la SEP</span>
									<h3>C.C.T. 15PJN1568W</h3>
								</strong>
								<br>
								Somos una Institución comprometida con la formación académica de sus hijos. Traspasamos
								la barrera de la educación convencional integrando actividades y materias que apoyan al
								proyecto de vida de los niños en edad preescolar. Contamos con el apoyo de programas que
								involucran a los padres de familia, siempre con un trabajo en equipo que permita
								fortalecer las bases del amor, la fraternidad y el compromiso de ser mejores en nuestra
								vida diaria.

								<br>
							</p>
						</div>

					</div>
				</div>
			</div>





		</section><!-- #content end -->



		{{!-- valores --}}

		<div class="container clearfix">

			<div class="heading-block topmargin-lg center">
				<h2>Nuestros valores</h2>
				<span class="mx-auto">Estamos comprometidos en la preparación académica e inculcar valores fundamentales para la vida profesional y social de tus hijos.</span>
			</div>

			<div class="row col-mb-50 mb-4">
				<div class="col-lg-4 col-md-6">

					<div class="feature-box  flex-md-row-reverse text-md-right" data-animate="fadeIn">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>Amistad</h3>
							{{!-- <p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p> --}}
						</div>
					</div>

					<div class="feature-box  flex-md-row-reverse text-md-right mt-5" data-animate="fadeIn"
						data-delay="200">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>
Honestidad</h3>
							{{!-- <p>We have covered each &amp; everything in our Docs including Videos &amp; Screenshots.</p> --}}
						</div>
					</div>

					<div class="feature-box  flex-md-row-reverse text-md-right mt-5" data-animate="fadeIn"
						data-delay="400">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>
Empatía</h3>
							{{!-- <p>Display your Content attractively using Parallax Sections with HTML5 Videos.</p> --}}
						</div>
					</div>

				</div>

				<div class="col-lg-4 d-md-none d-lg-block text-center">
					<img src="./src/img/logo.png" alt="iphone 2">
				</div>

				<div class="col-lg-4 col-md-6">

					<div class="feature-box " data-animate="fadeIn">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>Confianza</h3>
							{{!-- <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p> --}}
						</div>
					</div>

					<div class="feature-box  mt-5" data-animate="fadeIn" data-delay="200">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>Respeto</h3>
							{{!-- <p>Complete control on each &amp; every element that provides endless customization.</p> --}}
						</div>
					</div>

					<div class="feature-box  mt-5" data-animate="fadeIn" data-delay="400">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-check"></i></a>
						</div>
						<div class="fbox-content align-self-center">
							<h3>Cortesía</h3>
							{{!-- <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p> --}}
						</div>
					</div>

				</div>
			</div>

		</div>



		{{!-- //valores --}}


		<a social-link="phone-whatsapp" class="button button-full center text-right topmargin-lg "
			style="background-color: var(--color6);margin-top:  0 !important;">
			<div class="container clearfix">

				¿Necesitas más información? <strong>Llámanos</strong> <i class="icon-phone" style="top:4px;"></i>
			</div>
		</a>

		<!-- Footer
		============================================= -->

		{{> template/secction/footer }}

		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" data-mobile="true" class="icon-angle-up bg-color"></div>

	<!-- Dark Mode Switch
	============================================= -->
	<a href="./_APP" target="_blank" class="dark-mode" data-animate="fadeInRight">
		<span>APP</span><i class="icon-book2 shadow "></i>
	</a>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>

	<!-- <script src="js/plugins.min.js"></script> -->

	<script src="js/plugins.easing.js"></script>
	<!-- <script src="js/plugins.bootstrap.js"></script> -->

	<script>window.scwJsPath = './js';</script>

	<!-- Photograph Hover Plugin
	============================================= -->
	{{!-- <script src="demos/writer/js/hover3d.js"></script> --}}

	<!-- Menu Open Plugin
	============================================= -->
	<script src="demos/photographer/js/menu-easing.js"></script>


	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>



	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=163593367646006&autoLogAppEvents=1"></script>
</body>

</html>