<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Kinder Gandhi" />

	<meta name="theme-color" content="#B12A34">
	<link rel="icon" href="icons/icon-32.png" type="image/png" />
	<link rel="manifest" href="app.webmanifest">

	{{>template/meta}}

	<!-- Document Title
	============================================= -->
	<title>Kinder Gandhi</title>

</head>

<!-- Page Loader, stretched (body)
============================================= -->

<body class="stretched"
	data-loader-html="<div><img src='demos/photographer/images/icons/loader.svg' alt='Loader'></div>">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header	============================================= -->
		{{> template/secction/header}}
		<!-- #header end -->


		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element min-vh-60 min-vh-md-100 include-header" style="background: url(./src/img/secction/dots3.png) right 0 no-repeat;
		background-size: 100% auto;">
			<div class="slider-inner">

				<div class="vertical-middle">
					<div class="container parallax py-5" data-0="opacity: 1; overflow: visible; margin-top:0px"
						data-top-bottom="opacity: 0; overflow: visible; margin-top:100px">

						<div class="row align-items-center col-mb-50">
							<div class="col-md-7">
								<div class="py-5 py-md-0">
									<small
										class="text-muted text-uppercase font-weight-light ls4 mb-1 d-block">¡Bienvenido!
									</small>
									<h2 data-class-xs="t-kinder" class="text-dark">Kinder Gandhi</h2>
									<h5 class="font-weight-light ls1 d-none d-md-block" style="opacity: .7"> Contamos
										con el apoyo de programas que involucran a los padres de familia, siempre con un
										trabajo en equipo que permita fortalecer las bases del amor, la fraternidad y el
										compromiso de ser mejores en nuestra vida diaria.
									</h5>
									<div class="d-flex align-items-center mt-5">
										<a social-link="phone"
											class="button button-change button-rounded overflow-hidden nott button-large font-weight-normal mx-0 px-5">
											<span><i class="icon-phone font-weight-semibold"></i> Inscripciones</span>
										</a>
										<a social-link="facebook" target="_blank"
											class="d-none d-sm-inline-block my-0 mr-0 ml-4 social-icon si-small si-borderless si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>

									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>
		</section><!-- #Slider End -->


		{{>template/secction/box1}}

		{{>template/secction/introvid}}


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap py-0">
	

				<!-- Section Photographs
				============================================= -->
			{{>template/secction/talleres}}

			
			{{>template/secction/gallery}}




				<!-- Counter Section
				============================================= -->
											
			{{>template/secction/box2}}
			
			{{>template/secction/contact}}


				

				<!-- Contact Section
				============================================= -->
				




				<a social-link="phone" class="button button-full center text-right topmargin-lg" style="background-color: var(--color6);">
					<div class="container clearfix">
						
						¿Necesitas más información? <strong>llámanos</strong> <i class="icon-phone"
							style="top:4px;"></i>
					</div>
				</a>


			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->

		{{> template/secction/footer }}

		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" data-mobile="true" class="icon-angle-up bg-color"></div>

	<!-- Dark Mode Switch
	============================================= -->
	<a href="./_APP" data-mobile="true" class="dark-mode" data-animate="fadeInRight">
		<span>Tarea</span><i class="icon-book2 shadow "></i>
	</a>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>

	<!-- <script src="js/plugins.min.js"></script> -->

	<script src="js/plugins.easing.js"></script>
	<!-- <script src="js/plugins.bootstrap.js"></script> -->

	<script>window.scwJsPath = './js';</script>

	<!-- Photograph Hover Plugin
	============================================= -->
	<script src="demos/writer/js/hover3d.js"></script>

	<!-- Menu Open Plugin
	============================================= -->
	<script src="demos/photographer/js/menu-easing.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>

		// Hover Script
		jQuery(".img-hover-wrap").hover3d({
			selector: ".img-hover-card",
			shine: false,
		});

	</script>


</body>

</html>