<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Kinder Gandhi" />

	<meta name="theme-color" content="#B12A34">
	<link rel="icon" href="icons/icon-32.png" type="image/png" />
	<link rel="manifest" href="app.webmanifest">

	{{>template/meta}}

	<!-- Document Title
	============================================= -->
	<title>Kinder Gandhi</title>

</head>


<!-- Page Loader, stretched (body)
============================================= -->

<body class="stretched"
	data-loader-html="<div><img src='demos/photographer/images/icons/loader.svg' alt='Loader'></div>">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

<section id="content">
			<div class="content-wrap py-0">

				<div class="section p-0 m-0 h-100 position-absolute" style="background: url('./src/img/secction/s3.jpg') center center no-repeat; background-size: cover;"></div>

				<div class="section bg-transparent min-vh-100 p-0 m-0">
					<div class="vertical-middle">
						<div class="container-fluid py-5 mx-auto">
							<div class="p-1 center">
								<a href="index.html"><img src="images/logo.png" alt="Canvas Logo"></a>
							</div>

							<div class="card mx-auto rounded-0 border-0" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
								<div class="card-body" style="padding: 40px;">
									<form id="login-form" name="login-form" class="mb-0" action="#" method="post">
										<h3 class="text-center">Sistema para padres</h3>

										<div class="row">
											<div class="col-12 form-group">
												<label for="login-form-username">Grupo:</label>

                                                <select name="grupo" class="form-control not-dark">
                                                    <option value="">Seleccionar Grupo...</option>
                                                    <option value="1">1ro 1</option>
                                                    <option value="2.1">2do 1</option>
                                                    <option value="2.2">2do 2</option>
                                                    <option value="3.1">3ro 1</option>
                                                    <option value="3.2">3ro 2</option>
                                                    <option value="direccion">>>Dirección</option>

                                                </select>
												
											</div>

											<div class="col-12 form-group">
												<label for="login-form-password">Contraseña:</label>
												<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" />
											</div>

											<div class="col-12 form-group">
												<button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Entrar</button>
												{{!-- <a href="#" class="float-right">Forgot Password?</a> --}}
											</div>
										</div>
									</form>

									<div class="line line-sm"></div>

									
								</div>
							</div>

							<div class="text-center dark mt-3"><small>kindergnadhi.com</small></div>
						</div>
					</div>
				</div>

			</div>
		</section>


    </div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up bg-color"></div>

	<!-- Dark Mode Switch
	============================================= -->
	<a href="app/index.html" class="dark-mode" data-animate="fadeInRight">
		<span>Tarea</span><i class="icon-book2 shadow "></i>
	</a>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>

	<!-- <script src="js/plugins.min.js"></script> -->

	<script src="js/plugins.easing.js"></script>
	<!-- <script src="js/plugins.bootstrap.js"></script> -->

	<script>window.scwJsPath = './js';</script>

	<!-- Photograph Hover Plugin
	============================================= -->
	{{!-- <script src="demos/writer/js/hover3d.js"></script> --}}

	<!-- Menu Open Plugin
	============================================= -->
	<script src="demos/photographer/js/menu-easing.js"></script>


	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>



<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=163593367646006&autoLogAppEvents=1"></script>
</body>

</html>